<div *ngIf="!registerMode" class="container mt-5">
  <div style="text-align: center">
    <h1>Find your match</h1>
    <p class="lead">Come on in view your matches... All you
      need to do is sign up!</p>
  </div>
  <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()" >Register</button>
      <button class="btn btn-info btn-lg">Learn more</button>
  </div>
</div>

<div *ngIf="registerMode" class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>
    </div>
  </div>
</div>

